html {
  background-color: #f0f8ff;
  margin-left: 2%;
  color: #3b5998;
  font-family: arial;
}
body{
  overflow: hidden;
}
#header {
  font-family: courier new,  serif;
  background-color: #3b5998;
  margin-left: -1.5%;
  margin-top: 0em;
  color: white;
  padding-bottom: 2px;
  height: 8.5em;
  padding-right: 1em;
  border: black solid 4px;
  border-radius: 0.5em;
  position: relative;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
#sideNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}
#navbar li {
  padding-top: 0.25em;
  height: 1.5em;
}
#sideNav li  {
  padding-top: 0.5em;
}
#navbar a, #sideNav a {
  color: white;
  text-decoration: none;
}
#navbar a:hover, #sideNav a:hover {
  text-decoration: underline;
}
#sideNav {
  width: 6.5em;
  background-color: #3b5998;
  color: white;  
  height: 45em;
  float: left;
  margin-top: 1em;
  margin-left: -2em;
  padding: 0 0.5em;
}
h1 {
  margin: 0px;
  font-size: 4.5em;
  text-align: center;
  font-weight: normal;
  padding-bottom: 0;
}
#subtitle {
  text-align: center;
  color: white;
  font-weight: normal;
  padding-bottom: 5px;
}
#tutorialLink {
  position: relative;
  top: -50px;
  left: 50%;
  margin-left: -37px;
  width: 80px;
}
#tutorialLink button {
  width: 90px;
  border: none;
  background-color: white;
  color: #3b5998;
}
#tutorial {
  position: absolute;
  display: none;
  border: 6px solid black;
  background-color: #3b5998;
  color: white;   
  width: 600px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  text-align: center;
  padding: 5px;
}
#testStatsLink {
  position: relative;
  top: -50px;
  left: 50%;
  margin-left: -37px;
  width: 80px;
}
#testStatsLink button {
  width: 90px;
  border: none;
  background-color: transparent;
  color: #3b5998;
}
#testStats {
  position: absolute;
  display: none;
  border: 6px solid black;
  background-color: #3b5998;
  color: white;   
  width: 600px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  text-align: center;
  padding: 5px;
}
#content {
  width: 100%;
  height: 50em;
    box-sizing: border-box;
}
#logo {
  position: relative;  
}
#logo img{
  float: left;
  width: 7.1em;
  height: auto;
  border: solid 1px #3b5998; 
 }
h4 span{
/*  background-color: #3b5998;
  color: white;
  width: auto;*/
  color: #3b5998;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.3em;
  padding-left: 0.4em;
  position: relative;
  top: -15px;
}
button {
  border: solid 2px #3b5998; 
  border-radius: 0.5em;
  width: 8.5em;
  background-color: #f8f8ff;
  color: #3b5998;
  padding-left: 0;
  padding-right: 0;
}
#buy {
  width: 7.08vw;
  min-width: 70px;
}
#character_attributes {
  float: left;
  width: 22%;  
  height: 50%;
  box-sizing: border-box;
}
.heading {
  border: 4px solid #3b5998;  
  background-color: #f8f8ff;
  border-radius: 0.5em; 
  height: 40px; 
  position: relative;
  top: 10px;
  margin-bottom: 0.1em; 
  text-align: center;
}
.container {
  border: 4px solid #3b5998;  
  background-color: #f8f8ff;
  border-radius: 0.5em;
  position: relative;
  top: 10px;  
  padding-left: 10px;
}
#characterHeading {
  width: 16.67vw;
}
#characterContainer {
  width: 16.15vw;
}
#adventure_stats {
  float: left;
  width: 28%;  
  height: 50%;
    box-sizing: border-box;
}
#adventureHeading {
  width: 21.35vw;
}
#adventureContainer {
  width: 20.83vw;
  height: 325px;
}
#useItems {
  margin-top: 0.1em;
}
#armour {
  float: left;
  width: 20%;  
  height: 50%;
    box-sizing: border-box;
}
#armourHeading {
  width: 13.02vw;
  min-width: 193px;
}
#armourContainer {
  width: 12.5vw;
  min-width: 185px;
}
#fight {
  float: left;
  width: 30%;  
  height: 50%;
    box-sizing: border-box;
}
#fightButtons {
  position: relative;
  top: 25px;    
}
#fightHeading {
  width: 337px;
}
#buttonWrapper {
  float: left;
  width: 18%;  
  height: 50%;
    box-sizing: border-box;
}
#strPlus {
  background-image: url('../images/strength.jpeg');
  width: 150px;
  height: 80px;
  color: #3b5998;
  font-size: 1.5em;
  font-weight: bold;
  border: solid 4px #3b5998;
  margin-top: -2em;
  margin-left: 15%;
}
#hitPlus {
  background-image: url('../images/accuracy.png');
  background-color: white;
  width: 150px;
  height: 80px;
  color: #3b5998;
  font-size: 1.5em;
  font-weight: bold;
  border: solid 4px #3b5998; 
  margin-top: 0.1em; 
  margin-left: 15%;
}
#defPlus {
  background-image: url('../images/defence.png');
  background-color: white;
  width: 150px;
  height: 80px;
  color: #3b5998;
  font-size: 1.5em;
  font-weight: bold;
  border: solid 4px #3b5998;
  margin-top: 0.1em;
  margin-left: 15%;
}
#dodgePlus {
  background-image: url('../images/evade.png');
  background-color: white;
  width: 150px;
  height: 80px;
  color: #3b5998;
  font-size: 1.5em;
  font-weight: bold;
  border: solid 4px #3b5998;
  margin-top: 0.1em;
  margin-left: 15%;
}
#luckPlus {
  background-image: url('../images/luck.png');
  background-color: white;
  width: 150px;
  height: 80px;
  color: #3b5998;
  font-size: 1.5em;
  font-weight: bold;
  border: solid 4px #3b5998;
  margin-top: 0.1em;
  margin-left: 15%;
}
#shop {
  box-sizing: border-box;
  float: left;
  width: 42%;  
  height: 50%;
  margin-top: -1.5em;
}
#shopHeading {
  top: 25px;
  width: 25.4vw;
  min-width: 369px;
}
#shopContainer {
  top: 25px;
  height: 330px;
  width: 24.875vw;
  min-width: 360px;
  border-top: 0;
  border-left: solid 4px #3b5998;
  border-bottom: solid 4px #3b5998;
  border-right: solid 4px #3b5998;
}
#shopButtons {
  position: relative;
  top: 278px;
  width: 100%;
  padding-top: 0.1em;
}
#stock {
/*  box-sizing: border-box;
  position: absolute;
  top: 38.4em;
  left: 22.7vw;
  width: 23.02vw;
  min-width: 383px; */
  box-sizing: border-box;
  position: relative;
  top: -20.35em;
  left: -2px;
  width: 26.02vw;
  min-width: 383px;
}
#stock td {
  padding-left: 0.6em;
  padding-top: 0.3em;
}
#stock th {
  border: solid 4px #3b5998;
  border-radius: 0.5em;
  padding: 0.3em; 
  color: #3b5998;
}
.price {
  padding-left: 0.2em !important;
}
#find_tier {
  margin-top: 0.1em;
}
#yourMessages {
  box-sizing: border-box;
  float: left;
  width: 100%;  
  margin-left: 76%;
  margin-top: -23em;
}
#messageContainer {
  height: 325px;
}
#initiateButtons button {
  color: black;
  padding-bottom: 0.2em;
  line-height: 1.35;
  border: solid 4px black;
  font-size: 1.05em;
  font-weight: bold;
  width: 170px;
  height: 80px;  
  margin-bottom: 0.1em;
}
#fightMouse {
  background-image: url('../images/mouse.png');
  background-color: #00FF00;
}
#fightRat {
  background-image: url('../images/rat.png');
  background-color: #55FF00;
}
#fightDog {
  background-image: url('../images/dog.png');
  background-color: #AAFF00;
}
#fightWolf {
  background-image: url('../images/wolf.png');
  background-color: #FFFF00;
}
#fightGoblin {
  background-image: url('../images/goblin.png');
  background-color: #FFAA00;
}
#fightOrc {
  background-image: url('../images/orc.png');
  background-color: #FF5500;
}
#fightOgre {
  background-image: url('../images/ogre.png');
  background-color: #FF0000;
}
#initiateButtons {
  float: left;
  margin-top: -0.7em;  
}
#specialButtons {
  right: 0;
}
.highlight {
  opacity: 0.7;
}